@model IEnumerable<bookstore.Models.SACH>

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">QUẢN LÝ SÁCH</h2>

<p>
    @Html.ActionLink("Create New", "ThemmoiSach")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tensach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anhbia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluongton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNXB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giaban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
           
            <img src="@Url.Content("~/img1/"+ item.Anhbia)" style="width:300px;height:300px" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Suasach", new { id=item.Masach }) |
            @Html.ActionLink("Chi tiết", "Chitietsach", new { id=item.Masach }) |
            @Html.ActionLink("Xóa", "Xoasach", new { id=item.Masach })
        </td>
    </tr>
}

</table>
